@media (max-device-width: 500px) {
  body {
    font-family: "Helvetica", Arial, sans-serif;
    margin-top: 10%;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
  .mosaic-background {
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*BARRA DE NAVEGACION*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #008ee0;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .navbar-text {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0%;
    transition: all 0.2s;
    border: 10px solid #008ee0;
    border-radius: 5px;
    font-size: 12px;
  }

  b{
    color: #fff;
    font-size: 12px;
  }
  
  .navbar a:hover {
    color: #000000;
    transform: scale(3.5);
    box-shadow: 0 4px 8px #008ee0;
  }

  .navbar-text:hover {
    color: #ccc;
  }

  /*FIN DE LA BARRA*/
  
  .title{
    padding-top: 10%;
    padding-left: 5%;
    color: #333;
    margin-left: 1%;
    max-width: 90%;
    text-align: center;
  }

  .presentacion{
    padding-top: 10%;
    padding-left: 5%;
    color: #333;
    margin-left: 1%;
    max-width: 90%;
    text-align: center;
  }
  
  .inicio{
    margin-bottom: 1px;
    max-width: 90%;
    margin-left: 5%;
    padding-top: 0%;
    text-align: center;
  }

  .sobremi{
    margin-bottom: 1px;
    max-width: 90%;
    margin-left: 5%;
    padding-top: 1%;
    text-align: center;
  }

  .containertitle{
    margin-bottom: 0%;
    max-width: 90%;
    margin-left: 5%;
    padding-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .transparent{
    color: transparent;
  }

  .transparente{
    margin-bottom: 10%;
    max-width: 90%;
    margin-left: 5%;
    padding-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .exp2t{
    margin-bottom: 10%;
    max-width: 88%;
    margin: auto;
    padding-top: 0%;
    padding: 1%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .exp2{
    color: transparent;
    margin-bottom: -50%;
  }

  .trr{
    color: transparent;
  }

  .info{
    margin-bottom: 5%;
    max-width: 100%;
    margin: auto;
    margin-left: 1%;
    padding-top: 3%;
    text-align: center;
    transition: all 0.3s;
  }

  .container {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;
  }

  .puntos{
    width: 90%;
    margin: 1% auto;
    text-align: center;
    transition: all 0.3s;
    padding-top: 15%;  
  }

  .other {
    display: flex;
    flex-direction: column;
  }

  .exp{
    margin-bottom: 10%;
    max-width: 90%;
    margin: auto;
    padding-top: 0%;
    padding: 1%;
    margin-bottom: 5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .exp2{
    color: transparent;
  }

  .edu {
    margin-bottom: 10%;
    max-width: 90%;
    margin: auto;
    padding-top: 5%;
    padding: 1%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


  .titleapt{
    margin-top: 10%;
    margin-bottom: 1%;
    padding-left: 5%;
    color: #333;
    margin-left: 1%;
    max-width: 90%;
    text-align: center;
  }

  .titleespt{
    color: transparent;
  }
  
  .apt {
    flex: 1;
    order: 1;
    margin-bottom: 1%;
    max-width: 90%;
    margin: 1% auto;
    margin-left: 3.7%;
    padding: 1%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.2s;
  }
  
  .esp{
    flex: 1;
    order: 2;
    color: transparent;
  }
  
  
  .interes {
    width: 90%;
    margin: 1% auto;
    text-align: center;
    transition: all 0.3s;
    padding-top: 0%;
    margin-top: 25%;  
  }

  .titlepert{
    color: transparent;
  }

  .titleprot{
    color: transparent;

  }

  .demas{
    margin-top: -10%;
  }

  .nivel{
    margin-bottom: 10%;
    max-width: 90%;
    margin: 1% auto;
    margin-left: 3.7%;
    padding: 1%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.2s;
  }

  .info{
    margin-bottom: 1%;
    margin-top: 10%;
    max-width: 90%;
    margin: 1% auto;
    margin-left: 3.7%;
    padding: 1%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.2s;
  }


  .apt:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .esp:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .exp:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .edu:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .interes:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .seccion:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    color: #00629b;
  }

  h2 {
    color: #00438b;
    margin-top: 0;
    transition: color 0.3s;
  }
  
  h2:hover {
    color: #9900ff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  } 
}

/*----------------------------------------------------------------------------------------------------*/
  /*A partir de aqui para PCs*/

  @media (min-device-width: 600px) {
  
  body {
    font-family: "Helvetica", Arial, sans-serif;
    margin: 5%;
    margin-top: 1%;
    padding: 1%;
  }

  /*BARRA DE NAVEGACION*/
  
  .mosaic-background {
    background-image: url('fondo.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #008ee0;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .navbar-left {
    margin-right: auto;
  }
  
  .navbar-center {
    margin-left: auto;
    margin-right: 2%;
    text-align: center;
  }
  
  .navbar-text {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0%;
    transition: all 0.2s;
    border: 5px solid #008ee0;
    border-radius: 5px;
    font-size: 15px;
  }

  b{
    color: #fff;
    font-size: 20px;
  }
  
  .navbar a:hover {
    color: #000000;
    transform: scale(3.5);
    box-shadow: 0 4px 8px #008ee0;
  }

  .navbar-text:hover {
    color: #ccc;
  }

  /*FIN DE LA BARRA*/

  .title{
    padding-top: 5%;
    margin: 2% auto;
  }
  
  .presentacion{
    padding-top: 5%;
    text-align: center;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .inicio{
    margin-bottom: 1%;
    width: 40%;
    margin: 2% auto;
    text-align: center;
    transition: all 0.3s;
  }

  .sobremi{
    width: 30%;
    margin: 1% auto;
    text-align: center;
    transition: all 0.3s;    
  }

  .info{
    max-width: 60%;
    margin: 2% auto;
    padding-top: 3%;
    text-align: center;
    transition: all 0.3s;
  }

  .trayectoria{
    padding-top: 1%;
    text-align: center;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .containertitle {
    display: flex;
    justify-content: space-between;
  }

  .titleexp{
    flex: 1;
    order: 1;
    padding-top: 1%;
    text-align: left;
    width: 90%;
    margin-left: 24%;
    margin-right: 1%;    
  }

  .transparente{
    color: transparent;
  }

  .titleedu{
    flex: 1;
    order: 2;
    padding-top: 1%;
    text-align: right;
    width: 90%;
    margin-left: 1%;
    margin-right: 28%;    
  }

  .exp{
    flex: 1;
    order:1;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-left: -17.7%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .exp2{
    flex: 1;
    order:1;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-left: 15%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .exp2t{
    color: transparent;
  }

  .trans{
    color: transparent;
  }

  .edu {
    flex:1;
    order:2;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-right: 15%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .containerpuntos {
    display: flex;
    justify-content: space-between;
  }

  .titleapt{
    flex: 1;
    order: 1;
    padding-top: 3%;
    text-align: left;
    width: 90%;
    margin-left: 27%;
    margin-right: 1%;    
  }

  .titleesp{
    flex: 1;
    order: 2;
    padding-top: 3%;
    text-align: right;
    width: 90%;
    margin-left: 1%;
    margin-right: 25%;    
  }

  .puntos{
    width: 30%;
    padding-top: 10%;
    margin: 1% auto;
    text-align: center;
    transition: all 0.3s;  
  }

  .other {
    display: flex;
    justify-content: space-between;
  }
  
  .apt {
    flex: 1;
    order:1;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-left: 15%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .esp {
    flex:1;
    order:2;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-right: 15%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .containerinteres {
    display: flex;
    justify-content: space-between;
  }

  .titlepro{
    flex: 1;
    order: 1;
    padding-top: 3%;
    text-align: left;
    width: 90%;
    margin-left: 23%;
    margin-right: 1%;    
  }

  .titleper{
    flex: 1;
    order: 2;
    padding-top: 3%;
    text-align: right;
    width: 90%;
    margin-left: 1%;
    margin-right: 23%;    
  }

  .interes {
    width: 30%;
    padding-top: 10%;
    margin: 1% auto;
    text-align: center;
    transition: all 0.3s;  
  }

  .demas{
    display: flex;
    justify-content: space-between;
  }

  .nivel{
    flex: 1;
    order:1;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-left: 15%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .info{
    flex:1;
    order:2;
    margin-bottom: 1%;
    max-width: 30%;
    margin: 1% auto;
    margin-right: 15%;
    padding: 0.5%;
    text-align: center;
    transition: all 0.2s;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }


  .apt:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .esp:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .exp:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .exp2:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .edu:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nivel:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
  }

  /*.interes:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }*/

  .seccion:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    color: #008ee0;
  }

  h2 {
    color: #005b85;
    margin-top: 0;
    transition: color 0.3s;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  }

  }
  
  p {
    margin: 5px 0;
  }
  }
